:root{
    --base: #ffc600;
    --spacing: 10px;
    --blur: 10px;
}

body{
    text-align: center;
    background-color: #193549;
    color: white;
    font-family: 'helvitica neue', sans-serif;
    font-weight: 100;
    font-size: 30px;
}
.controls{
    margin-bottom: 50px;
}
input{
    width: 150px;
}
.hl{
    color: var(--base);
}
img{
    padding: var(--spacing);
    background: var(--base);
    filter: blur(var(--blur));
}